<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1521866125-gtq1k6hrbq22hc5kvim3p0fq8qme3bbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1521866125-gtq1k6hrbq22hc5kvim3p0fq8qme3bbp</string>
	<key>API_KEY</key>
	<string>AIzaSyDV88RXh7LfCdF5iqQxo_Tto02JkKxRcTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1521866125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inceptionworld.Walayem</string>
	<key>PROJECT_ID</key>
	<string>walayem-enhanced</string>
	<key>STORAGE_BUCKET</key>
	<string>walayem-enhanced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1521866125:ios:ef5fa984edadb4884bd9c4</string>
	<key>DATABASE_URL</key>
	<string>https://walayem-enhanced.firebaseio.com</string>
</dict>
</plist>