<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685466919055-mg1tqlbdomrl6spk56opmle5tm8gpbsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685466919055-mg1tqlbdomrl6spk56opmle5tm8gpbsk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>685466919055-4gqqgq4pkec2rqerkmjojp669t5u6o1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoLMxvir2OmwU2wJmMosY8lFuHHDVi84M</string>
	<key>GCM_SENDER_ID</key>
	<string>685466919055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inceptionworld.Walayem</string>
	<key>PROJECT_ID</key>
	<string>walayem-2292b</string>
	<key>STORAGE_BUCKET</key>
	<string>walayem-2292b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685466919055:ios:a38a16c6145cc0e2</string>
	<key>DATABASE_URL</key>
	<string>https://walayem-2292b.firebaseio.com</string>
</dict>
</plist>